<header class="app-header">

    <nav class="navbar-wrapper navbar navbar-static-top">
        <ul class="nav nav-tabs">
            <li class="navbar-brand">Mountebank Imposter UI</li>
            <li  class="nav">

                <a   href="#/settings">Settings</a>

            </li>
            <li  class="nav">

                <a   href="#/json">Mountebank Json</a>

            </li>
                     <li  class="nav navbar-text pull-right"><a href="#/"><i class="glyphicon glyphicon-home"></i> Home</a> </li>

        </ul>
    </nav>
</header>

