div.limitY
{
    overflow-y:scroll;
    overflow-x: hidden;
    height:350px;
    margin-right:20px
}
.grouping-box
{
    border: #1b6d85 ridge; width:98%; padding:5px 
}

.internalTitle
{
    font-size: 22px;
    font-weight: bold;
}
.internalHeader
{
    font-size: 18px;
    font-weight: bold;
}
.internalHeaderRow
{
    margin-bottom: 10px
}

i.centerIcon{

    display:block;
    text-align:center;


}
.paginatorBox {

    vertical-align: top;
    border: thin solid #1b6d85;


}

#responsePaginatorTable td
{

    padding:  5px; 
}

span.responseSelection
{
    margin:5px;padding:5px;
}

span.responseSelection.selectedResponse
{

    font-weight: bold;
    color: #FFF7F5 !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #7CACDE;
    padding: 2px 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    background: #468CCF;
    text-align: center;
    alignment-adjust: middle
}

div.helpHeader
{
    font-size: 22px;
    text-decoration: underline
}

.app-modal-window .modal-dialog {
    width: 340px;
    margin:auto
        /*
        height: 450px;
        border: 3px solid black;
        */
}

/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */
.modal-content .sortContainer
{
     
    display:inline-block;
    float:none;
     
    
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
     
    width:340px;
    height: 450px 
}

.sortContainer .sortHolder
{ 
    overflow-y:auto;
    overflow-x: hidden;
    width:280px;

    margin:auto;
    height: 320px;
    border: #1b6d85 ridge;  

}



.sortContainer  .list {
    list-style: none outside none;
    margin: 10px 0 30px;
    text-align:center;
}


.sortContainer  .item {
    width: 250px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #1b6d85;
    color:white;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    cursor: move;
}

div.helpContainer
{
    width:80%;
    margin:20px;
    padding: 20px
}

div.injectionContainer
{
     border: #1b6d85 ridge; width:90%; padding:10px 
}
