<ng-include src="settings.headerLocation"></ng-include>  


<div class="grouping-box">
    <h3>Collection Maintenance</h3>



    <div class="row">

        <div class="form-group">
            <label class="control-label col-sm-1" for="name">Current</label> 
            <div class="col-sm-6">
                <select ng-change="settings.changeCollection()" ng-model="settings.collectionSelectorIdx" class="form-control" id="collectionSelector">
                    <option ng-repeat="item in settings.collectionItems track by item.id" ng-selected="item.selected == true"     value="{{item.id}}">{{item.description}}</option>  
                </select>    
            </div>

            <div class="col-sm-1">
                <button   ng-click="settings.createNewCollection()" class="center-block btn btn-primary btn-sm"><i  class="glyphicon glyphicon-plus-sign"></i> Add New</button>

            </div>
            <div class="col-sm-1">
                <button  ng-disabled="settings.collectionItems.length == 1"  ng-click="settings.deleteCollection()" class="center-block btn btn-danger btn-sm"><i  class="glyphicon glyphicon-minus-sign"></i> Delete Current </button>
            </div>
        </div>

    </div>


    <br>
    <div class="row">
        <form name="settings.portForm"   class="form-horizontal" novalidate>   

            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Port</label> 

                <div class="col-sm-2">
                    <input  type="text" class="form-control"   id="port" name="port" ng-model="settings.currentImposter.port" required>
                </div>
                <div class="col-sm-2">

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Description</label> 

                <div class="col-sm-8">
                    <input  ng-blur="settings.updateList()" type="text" class="form-control"   id="port" name="port" ng-model="settings.currentImposter.description" required>
                </div>
            </div>


            <!-- Default -->
            <div class="form-group">
                 
                <label class="control-label col-sm-2" for="addDefault">Add Default?</label> 
               
               
                <div class="col-sm-1">
                    <input  ng-change="settings.updateList()" ng-blur="settings.updateList()" type="checkbox" class="form-control"   id="addDefault" name="addDefault" ng-model="settings.currentImposter.addDefault" required> 

                </div>
                 <div class="col-sm-4">
                <a  ng-click="$event.preventDefault(); settings.doHelpDisplay('defaultBody')"  href="">Default Body Sample</a>
                </div>

            </div>


            <div ng-if="settings.currentImposter.addDefault === true"  class="form-group">
                <div class="row">
                    <div class=" col-xs-offset-1 col-sm-8">
                        <label class="control-label col-sm-2" for="allowedCORsHeaders">Default JSON</label> 

                        <div class="internalHeaderRow">

                            <span ng-if="settings.isJsonString(settings.currentImposter.defaultBody)" >
                                <button ng-click="settings.formatDefault(true)" class="btn btn-primary btn-xs">Pretty Print JSON</button>
                                <button ng-click="settings.formatDefault(false)" class="btn btn-primary btn-xs">Unformat JSON</button>
                            </span>
                        </div>
                        <div class="row">
                            <div class=" col-xs-offset-1 col-sm-12">
                                <textarea ng-blur="settings.updateList()" class="form-control"
                                          ng-model="settings.currentImposter.defaultBody" style="width:98%;height:150px"></textarea>
                            </div>
                        </div>           

                    </div>
                </div>



            </div>
            <!-- CORS -->

            <div class="form-group">
                <label class="control-label col-sm-2" for="useCORs">Use Cors?</label> 

                <div class="col-sm-1">
                    <input  ng-change="settings.updateList()" ng-blur="settings.updateList()" type="checkbox" class="form-control"   id="useCORs" name="useCORs" ng-model="settings.currentImposter.useCORs" required> 

                </div>
                <div class="col-sm-9">
                    <em>(will add a default OPTIONs response and use Origin Url below for  all responses)</em>
                </div>
            </div>
            <div  ng-if="settings.currentImposter.useCORs === true"  class="row">
                <div class=" col-xs-offset-1 col-sm-8">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="CORsOrigin">CORS Origin Full Url</label> 

                        <div  class="col-sm-8">
                            <input  ng-blur="settings.updateList()" type="text" class="form-control"   id="CORsOrigin" name="CORsOrigin" ng-model="settings.currentImposter.CORsOrigin" required> 

                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="control-label col-sm-2" for="allowedCORsHeaders">CORs Headers</label> 

                        <div  class="col-sm-8">
                            <input  ng-blur="settings.updateList()" type="text" class="form-control"   id="allowedCORsHeaders" name="allowedCORsHeaders" ng-model="settings.currentImposter.allowedCORsHeaders" required> 

                        </div>
                    </div>
                    <div   class="form-group">
                        <label class="control-label col-sm-2" for="allowedCORsMethods">CORs Methods</label> 

                        <div  class="col-sm-8">
                            <input  ng-blur="settings.updateList()" type="text" class="form-control"   id="allowedCORsMethods" name="allowedCORsMethods" ng-model="settings.currentImposter.allowedCORsMethods" required> 

                        </div>
                    </div>
                </div>
        </form>
    </div>


</div>
