<ng-include src="settings.headerLocation"></ng-include>  

<div class="row">
    <form name="settings.portForm"   class="form-horizontal" novalidate>   

        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Port</label> 

            <div class="col-sm-2">
                <input  type="text" class="form-control"   id="port" name="port" ng-model="settings.currentImposter.port" required>
            </div>
        </div>
    </form>
</div>
<div class="row">

    <form    class="form-horizontal" name="settings.submitForm" ng-model="settings.submitForm" role="form">   
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Mountebank Url</label> 

            <div class="col-sm-6">
                <input  type="text" class="form-control"   id="port" name="port" ng-model="settings.mounteBankUrl" required>
            </div>
        </div>
        <button class="btn btn-primary">Submit to Mountebank</button>
        <button class="btn btn-primary">Delete From Mountebank</button>
    </form>

    <div class="col-sm-1">
        <button   ng-click="home.addCollection()" class="center-block btn btn-primary btn-sm"><i  class="glyphicon glyphicon-minus-sign"></i> Add</button>

    </div>
    <div class="col-sm-1">
        <button   ng-click="home.deleteCollection()" class="center-block btn btn-danger btn-sm"><i  class="glyphicon glyphicon-minus-sign"></i> Delete</button>

    </div>


</div>