<ng-include src="settings.headerLocation"></ng-include>  


<div class="grouping-box">
    <h3>Collection Maintenance</h3>
     
        
      
    <div class="row">

        <div class="form-group">
            <label class="control-label col-sm-1" for="name">Current</label> 
            <div class="col-sm-6">
                <select ng-change="settings.changeCollection()" ng-model="settings.collectionSelectorIdx" class="form-control" id="collectionSelector">
                    <option ng-repeat="item in settings.collectionItems track by item.id" ng-selected="item.selected == true"     value="{{item.id}}">{{item.description}}</option>  
                </select>    
            </div>

            <div class="col-sm-1">
                <button   ng-click="settings.createNewCollection()" class="center-block btn btn-primary btn-sm"><i  class="glyphicon glyphicon-plus-sign"></i> Add New</button>

            </div>
            <div class="col-sm-1">
                <button  ng-disabled="settings.collectionItems.length==1"  ng-click="settings.deleteCollection()" class="center-block btn btn-danger btn-sm"><i  class="glyphicon glyphicon-minus-sign"></i> Delete Current </button>
            </div>
        </div>

    </div>


    <br>
    <div class="row">
        <form name="settings.portForm"   class="form-horizontal" novalidate>   

            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Port</label> 

                <div class="col-sm-2">
                    <input  type="text" class="form-control"   id="port" name="port" ng-model="settings.currentImposter.port" required>
                </div>
                <div class="col-sm-2">
                    
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Description</label> 

                <div class="col-sm-8">
                    <input  ng-blur="settings.updateList()" type="text" class="form-control"   id="port" name="port" ng-model="settings.currentImposter.description" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="useCORs">Use Cors?</label> 

                <div class="col-sm-1">
                    <input  ng-change="settings.updateList()" ng-blur="settings.updateList()" type="checkbox" class="form-control"   id="useCORs" name="useCORs" ng-model="settings.currentImposter.useCORs" required> 
                   
                </div>
                 <div class="col-sm-9">
                 <em>(will add a default OPTIONs response and use Origin Url below for  all responses)</em>
                 </div>
            </div>
            <div ng-if="settings.currentImposter.useCORs === true"  class="form-group">
                <label class="control-label col-sm-2" for="CORsUrl">CORS Origin Full Url</label> 

                <div  class="col-sm-8">
                    <input  ng-blur="settings.updateList()" type="text" class="form-control"   id="CORsOrigin" name="CORsOrigin" ng-model="settings.currentImposter.CORsOrigin" required> 
                     
                </div>
            </div>
            <div ng-if="settings.currentImposter.useCORs === true"  class="form-group">
                <label class="control-label col-sm-2" for="CORsUrl">CORs Headers</label> 

                <div  class="col-sm-8">
                    <input  ng-blur="settings.updateList()" type="text" class="form-control"   id="allowedCORsHeaders" name="allowedCORsHeaders" ng-model="settings.currentImposter.allowedCORsHeaders" required> 
                     
                </div>
            </div>
            <div ng-if="settings.currentImposter.useCORs === true"  class="form-group">
                <label class="control-label col-sm-2" for="CORsUrl">CORs Methods</label> 

                <div  class="col-sm-8">
                    <input  ng-blur="settings.updateList()" type="text" class="form-control"   id="allowedCORsMethods" name="allowedCORsMethods" ng-model="settings.currentImposter.allowedCORsMethods" required> 
                     
                </div>
            </div>
        </form>
    </div>


</div>
