


<h3>Mountebank Imposter UI</h3>




<div id="messageRow" class="row">

    <div style="" class="well well-sm"><span class="emphasis text-danger">{{home.errorMessage}}</span></div>


</div>
<div class="row">

    <div id="itemSelectorColumn" class="col-sm-2">
        <div class="limitY">

            <div ng-repeat="item in home.data.imposters">
                <div>



                    <button class="btn btn-lg btn-primary pull-right" 
                            style="margin: 5px"
                            ng-click="home.changeImposter($index)" id="imposter_{{$index}}">
                        <i   ng-hide="$index != home.currentIndex" class="glyphicon glyphicon-arrow-right"></i> Item {{$index + 1}}</button>
                </div>
            </div>

        </div>
    </div>

    <div id="formColumn" class="col-sm-10">

        <uib-tabset justified="true">

            <uib-tab heading="Response" select="home.tabSelect('Response')"> 

                <div class="row">

                    <form name="home.responseForm" class="form-horizontal" novalidate>   

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="status">Status</label> 

                            <div class="col-sm-2">
                                <input ng-blur="home.inputChange(this, $event)" type="text" class="form-control"   id="response_status" name="status" ng-model="home.responseBuffer.status" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <h4>Headers</h4>
                            <div style="overflow-y: scroll;height:120px">
                                
                                <div ng-repeat="i in home.responseBuffer.headerCount">

                                    <label class="control-label col-sm-1" for="status">Key</label> 

                                    <div class="col-lg-5">
                                        <input ng-blur="home.inputChange(this, $event)" type="text" class="form-control"   id="ressponse_key_1" name="status" ng-model="home.responseBuffer.status" required>
                                    </div>
                                    <label class="control-label col-sm-1" for="status">Value</label> 
                                    <div class="col-lg-5">
                                        <input ng-blur="home.inputChange(this, $event)" type="text" class="form-control"   id="response_value_1" name="status" ng-model="home.responseBuffer.status" required>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>



            </uib-tab>

            <uib-tab heading="Match Criteria" select="home.tabSelect('Match')"> 

            </uib-tab>

            <uib-tab heading="Port and Submitting" select="home.tabSelect('Port')">  

                <br>
                <div class="row">
                    <form name="home.portForm"   class="form-horizontal" novalidate>   

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Port</label> 

                            <div class="col-sm-2">
                                <input ng-blur="home.inputChange(this, $event)" type="text" class="form-control"   id="port" name="port" ng-model="home.data.port" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">

                    <form    class="form-horizontal" name="home.submitForm" ng-model="home.submitForm" role="form">   
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Mountebank Url</label> 

                            <div class="col-sm-6">
                                <input  type="text" class="form-control"   id="port" name="port" ng-model="home.mounteBankUrl" required>
                            </div>
                        </div>
                        <button class="btn btn-primary">Submit to Mountebank</button>
                        <button class="btn btn-primary">Delete From Mountebank</button>
                    </form>
                </div>




            </uib-tab>

            <uib-tab  heading="JSON" select="home.tabSelect('JSON')"> 

                <textarea readonly="true" ng-model="home.displayData" style="width:100%;height:350px">
                    
                </textarea>

            </uib-tab>

        </uib-tabset>
    </div><!-- end formColumn -->

</div>   







