div.limitY
{
    overflow-y:scroll;
    overflow-x: hidden;
    height:350px;
    margin-right:20px
}
.grouping-box
{
    border: #1b6d85 ridge; width:98%; padding:5px 
}

.internalTitle
{
    font-size: 22px;
    font-weight: bold;
}
.internalHeader
{
    font-size: 18px;
    font-weight: bold;
}
.internalHeaderRow
{
    margin-bottom: 10px
}

i.centerIcon{

    display:block;
    text-align:center;


}
.paginatorBox {

    vertical-align: top;
    border: thin solid #1b6d85;


}

#responsePaginatorTable td
{
     
     padding:  5px; 
}

#responsePaginatorTable .pagination
{
     
     margin-top:  5px; 
}