<ng-include src="home.headerLocation"></ng-include>  


<div>
    <div id="messageRow" class="row">
        <div>
            <span class="emphasis text-danger">{{home.errorMessage}}</span> 



        </div>

        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label internalTitle col-sm-2" for="status">Collection</h3>
            </div>
            <div class="col-sm-8">
                <select  ng-change="home.changeCollection()" ng-model="home.collectionSelectorIdx" class="form-control" id="collectionSelector">
                    <option ng-repeat="item in home.collectionItems track by item.id" ng-selected="item.selected == true"     value="{{item.id}}">{{item.description}}</option>  


                </select>    
            </div>

        </div>

    </div>
    <br>
    <div class="row">

        <div id="itemSelectorColumn" class="col-sm-2">

            <div>
                <h3>Imposters</h3>
            </div>
            <div class="limitY">

                <div ng-repeat="item in home.buffer.data.imposters track by $index">
                    <div>



                        <button class="btn btn-med btn-primary pull-right" 
                                style="margin: 5px"
                                ng-click="home.changeImposter($index)" id="imposter_{{$index}}">
                            <i   ng-hide="$index != home.currentImposterIdx" class="glyphicon glyphicon-arrow-right"></i> Item {{$index + 1}}</button>
                    </div>
                </div>

            </div>
            <br>
            <div class="row pull-left">

                <button  ng-click="home.addImposter()" class="btn btn-med btn-primary">Add New</button>

                <button ng-disabled="home.buffer.data.imposters.length == 1" ng-click="home.deleteImposter()"  class="btn btn-med btn-danger">Delete</button>
            </div>

        </div>

        <div id="formColumn" class="col-sm-10">

            <uib-tabset justified="true">

                <uib-tab heading="Response" select="home.tabSelect('Response')"> 
                    <br>
                    <div class="row">

                        <form name="home.responseForm" class="form-horizontal" novalidate>   

                            <div class="form-group">
                                <label class="control-label col-sm-1" for="status">Status</label> 

                                <div class="col-sm-2">
                                    <input ng-blur="home.inputChange(this, $event)" type="text" class="form-control"   id="response_status" name="status" ng-model="home.buffer.data.imposters[home.currentImposterIdx].responses[home.currentResponseIdx].status" required>
                                </div>
                            </div>
                            <i>(Click on the section below)</i>
                            <uib-accordion close-others="false">
                                <uib-accordion-group heading="Headers">
                                    <headers array="home.buffer.data.imposters[home.currentImposterIdx].responses[home.currentResponseIdx].headers"></headers>
                                </uib-accordion-group>
                                <uib-accordion-group heading="Body">
                                    <div class="form-group grouping-box">
                                        <div class="internalHeaderRow">

                                            <span 
                                                ng-if="home.isJsonString(home.buffer.data.imposters[home.currentImposterIdx].responses[home.currentResponseIdx].body)"
                                                >
                                                <button ng-click="home.formatJson('responseBody', true)" class="btn btn-primary btn-xs">Pretty Print JSON</button>
                                                <button ng-click="home.formatJson('responseBody', false)" class="btn btn-primary btn-xs">Unformat JSON</button>
                                            </span>
                                        </div>
                                        <textarea ng-blur="home.inputChange(this, $event)" class="form-control" ng-model="home.buffer.data.imposters[home.currentImposterIdx].responses[home.currentResponseIdx].body" style="width:98%;height:150px"></textarea>
                                    </div>
                                </uib-accordion-group>
                            </uib-accordion>
                        </form>
                    </div>



                </uib-tab>

                <uib-tab heading="Match Criteria" select="home.tabSelect('Criteria')"> 


                    <br>
                    <div class="row">

                        <form name="home.criteriaForm" class="form-horizontal" novalidate>   

                            <div class="form-group">
                                <label class="control-label col-sm-1" for="path">Path</label> 


                                <div class="col-sm-2">
                                    <select   class="form-control"   id="response_verb" name="verb" ng-model="home.buffer.data.imposters[home.currentImposterIdx].match.path_match.type" required>

                                        <option ng-repeat="item in home.matchTypes" value="{{item}}">{{item}}</option>   

                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <input ng-blur="home.inputChange(this, $event)" type="text" class="form-control"   id="response_path" name="status" ng-model="home.buffer.data.imposters[home.currentImposterIdx].match.path_match.value" required>
                                </div>


                                <label class="control-label col-sm-1" for="verb">Verb</label> 

                                <div class="col-sm-2">
                                    <select ng-blur="home.inputChange(this, $event)"  class="form-control"   id="response_verb" name="verb" ng-model="home.buffer.data.imposters[home.currentImposterIdx].match.verb" required>
                                        <option>GET</option>
                                        <option>POST</option>
                                        <option>PUT</option>
                                        <option>DELETE</option>

                                    </select>
                                </div>
                            </div>
                    </div>
                     <i>(Click on the section below)</i>
                    <uib-accordion close-others="false">
                        <uib-accordion-group heading="Headers">
                            <headers array="home.buffer.data.imposters[home.currentImposterIdx].match.headers"></headers>
                        </uib-accordion-group>
                        <uib-accordion-group heading="Body">

                            <div class="form-group grouping-box">

                                <h4>Body</h4> 

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="path">Match Type</label> 
                                    <div class="col-sm-3">
                                        <select   class="form-control"   id="response_verb" name="verb" ng-model="home.buffer.data.imposters[home.currentImposterIdx].match.body_match.type" required>

                                            <option ng-repeat="item in home.matchTypes" value="{{item}}">{{item}}</option>   

                                        </select>
                                    </div>
                                </div>

                                <textarea  ng-blur="home.inputChange(this, $event)" class="form-control" ng-model="home.buffer.data.imposters[home.currentImposterIdx].match.body_match.body" style="width:98%;height:150px"></textarea>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>

                    </form>
                    </div>



                </uib-tab>




            </uib-tabset>
        </div><!-- end formColumn -->

    </div>   



</div>



