<div class="sortContainer">
    <div class="container">
        <h4>Sort Imposters</h4>
        <div class="sortHolder">

            <div ui-sortable="sortCallbacks" ng-model="sortItems" class="center-block list">
                <div ng-repeat="item in sortItems" class="item">
                    
                    Item {{item.oldIdx+1}}
                </div>
            </div>


        </div>






        <div class="row"> 
            <div class="center-block">
                <div class="col col-sm-offset-1 col-sm-1">
                    <button type="submit"   ng-click="ok()" class="btn btn-primary">Submit</button>
                </div>
                <div class="col col-sm-1">
                    <button type="submit"  ng-click="cancel()" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>
